@use 'variables' as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $font-fira-sans;
  background-color: $color-Off-white;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  gap: 3rem;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6.125rem;
  padding-bottom: clamp(6rem, 7vw, 12rem);
  padding-top: clamp(6rem, 7vw, 12rem);
}

ul,
ol li,
span,
h1,
h2,
h3,
h4,
p {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

button:focus {
  outline: 0.125rem solid #4d90fe;
}
