// ? FONT FAMILY

$font-fira-sans: 'Fira Sans', sans-serif;

// ? FONT WEITH

$font-bold: 800;
$font-medium: 600;
$font-ease: 400;

// ? COLORS

// * Primary

$color-orange: hsl(35, 77%, 62%);
$color-red: hsl(5, 85%, 63%);

// * Neutral
$color-Off-white: hsl(36, 100%, 99%);
$color-Grayish-blue: hsl(233, 8%, 79%);
$color-Dark-grayish-blue: hsl(236, 13%, 42%);
$color-Very-dark: hsl(240, 100%, 5%);
